a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

p {
  font-size: 20px;
}

@media screen and (max-width: 550px) {
  p {
    font-size: 18px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 40px;
  font-family: "JasonHandwriting4-Regular";
}

@font-face {
  font-family: "JasonHandwriting4-Regular";
  src: url("https://cdn.jsdelivr.net/gh/max32002/JasonHandWritingFonts@20210716/webfont/JasonHandwriting1-Regular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/max32002/JasonHandWritingFonts@20210716/webfont/JasonHandwriting1-Regular.woff") format("woff");
}

::-webkit-scrollbar {
  display: none;
}

.icon__go {
  position: absolute;
  width: 30px;
  top: 10px;
  right: 10px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.icon__go:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (max-width: 500px) {
  .icon__go {
    top: 5px;
  }
}

.top {
  position: fixed;
  width: 50px;
  right: 0;
  bottom: 0;
  z-index: 0;
  cursor: pointer;
}

.jump {
  -webkit-animation: all jump 1s ease;
          animation: all jump 1s ease;
}

@-webkit-keyframes jump {
  0% {
    right: 0;
    bottom: 0;
  }
  50% {
    bottom: 50px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes jump {
  0% {
    right: 0;
    bottom: 0;
  }
  50% {
    bottom: 50px;
  }
  100% {
    bottom: 0;
  }
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p__center {
  text-align: center;
}

.space {
  margin: 1rem;
}

.space__bg {
  margin: 4rem 0;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 480px) {
  .space__bg {
    font-size: 18px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: rgba(255, 188, 188, 0.45);
}

.bgc__circle {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  width: 200px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-left: 2rem;
  padding-top: 1.5rem;
}

.title .title__logo {
  width: 80px;
  z-index: 5;
}

@media screen and (max-width: 400px) {
  .title .title__logo {
    display: none;
  }
}

.title .title__text {
  letter-spacing: 20px;
  color: #FF5656;
  margin: 3rem;
  font-size: 60px;
  z-index: 5;
  font-weight: bold;
}

@media screen and (max-width: 1300px) {
  .title .title__text {
    font-size: 50px;
    margin: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 1.5rem 0;
}

.menu .menu__item {
  list-style: none;
}

.menu .menu__item:hover > .list__link {
  color: #559dd8;
}

.menu .list__link, .menu .dropdown__list--text {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #606060;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu .title__icon {
  display: none;
}

.menu .link__icon {
  color: white;
  -webkit-filter: drop-shadow(1px 1px 25px #FF5656);
          filter: drop-shadow(1px 1px 25px #FF5656);
  margin-right: 5px;
}

.menu .dropdown__list {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: calc( 100% + 10px);
  width: 95px;
  max-height: 0;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
  background-color: #FFD3D3;
}

.menu .menu__item--col {
  position: relative;
  cursor: pointer;
}

.menu .menu__item--col:hover > .dropdown__list {
  max-height: 500px;
  opacity: 1;
}

.menu .dropdown__list--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  padding: 18px 0;
}

.menu .dropdown__list--text:hover {
  background-color: #ffffffbe;
  color: #559dd8;
}

.main__pic {
  position: absolute;
  width: 85%;
  z-index: -10;
  right: 0;
  bottom: -20px;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

@media screen and (min-width: 500px) and (max-width: 1200px) {
  .main__pic {
    width: 120%;
  }
}

.social__icons {
  position: absolute;
  right: 5vw;
  bottom: 5vh;
  letter-spacing: 5px;
  color: #FF5656;
  text-align: right;
}

.icon__sm {
  margin: 3rem;
}

.slogan {
  font-size: 30px;
}

.cover__content--sm {
  display: none;
}

@media screen and (max-width: 650px) {
  body .title .title__text {
    font-size: 36px;
    margin: 1rem;
  }
  body .title .title__logo {
    width: 80px;
  }
  body .cover__content {
    display: none;
  }
  body .cover__content--sm {
    display: block;
    margin: 5rem auto;
  }
  body .cover__content--sm img {
    width: 100vw;
    margin-top: 5rem;
  }
  nav ul.menu {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 188, 188, 0.45);
    margin: 0;
  }
  nav .menu__item {
    text-align: center;
    padding: 0.75rem 0;
  }
  nav .menu__item:active > .list__link {
    color: #559dd8;
  }
  nav .menu__item .list__link {
    font-size: 15px;
    font-weight: light;
  }
  nav .menu__item .dropdown__list {
    max-height: 500px;
    top: -152%;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    display: none;
    z-index: 100;
    opacity: 1;
  }
  nav .menu__item .title__icon {
    display: block;
    font-size: 22px;
    margin-bottom: 0.5rem;
    color: white;
    -webkit-filter: drop-shadow 12px 12px 7px rgba(197, 90, 90, 0.7);
            filter: drop-shadow 12px 12px 7px rgba(197, 90, 90, 0.7);
  }
}
/*# sourceMappingURL=style.css.map */